/* LoginPage.css */

.login-page {
    font-family: Arial, sans-serif;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }
  
  header {
    padding: 50px 0;
  }
  
  h1 {
    font-size: 3rem;
    margin-bottom: 20px;
  }
  
  .login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
  }
  
  input {
    width: 300px;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
  }
  
  .login-btn {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 1.2rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .login-btn:hover {
    background-color: #0056b3;
  }
  
  .footer-login {
    background-color: #FAFAFA;
    padding: 20px;
  }
  
  .footer-login a {
    color: #007bff;
    text-decoration: none;
    transition: color 0.3s ease;
  }
  
  .footer-login a:hover {
    color: #0056b3;
  }
  
  .noAccount {
    background-color:#FAFAFA;
  }